@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: letter;
    margin: 0.5in;
  }
  
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  
  .no-break {
    break-inside: avoid;
  }
} 